<section
  class="relative bg-blue-600 text-white py-20 hero min-h-screen bg-cover bg-center"
  style="
    background-image: linear-gradient(
        rgba(88, 28, 135, 0.3),
        rgba(169, 85, 247, 0.726)
      ),
      url('/assets/images/bghero.jpg');
  "
>
  <div class="container mx-auto text-center relative z-10">
    <h1 class="text-8xl font-thin mb-4 heading-font">Prayer Siddur</h1>
    <p class="text-3xl mb-8 tiny5">
      To Yeshua of Nazareth <br />
      the <strong>FACE</strong> and <strong>WORD</strong> of Yahweh
    </p>
    <a
      href="#prayers"
      class="bg-white text-purple-500 text-2xl px-6 py-3 rounded-full font-semibold j20"
    >
      Love on Yeshua Now!
    </a>
  </div>
</section>
