---
layout: base
---

<section class="container mx-auto my-10">
  <h2
    class="text-4xl font-thin p-5 mb-4 heading-font text-purple-500 text-center"
    id="prayers"
  >
    Devotional Passages
  </h2>
  <div class="bg-white shadow-md rounded-lg">
    {% for prayer in collections.prayers %}
      {% include "accordion.liquid" %}
    {% endfor %}
  </div>
</section>